/* DAVID LIBRE PARA TITULOS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	vertical-align: baseline;
}
body
{
	font-family: 'Old Standard TT', serif;
	background-color: #F1F4F5; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
}
hr
{
	border-style: solid;
	border-width: 1px;
	border-color: #359FD1;
}
form
{
	display: flex;
	flex-direction: column;
}
form span
{
	font-size: 20px;
	margin-top: 25px;
}
.button
{
	background: #7dcd40;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2);
    font-size: 18px;
	padding: 10px 15px 15px;
    border-radius: 6px;
	text-decoration: none;
    color: white;
    transition: .1s;
}
	.button:active 
	{
  		transform: scale(.9);
	}
.header
{
	width: 100%;
	color: white;
	text-align: center;
	font-family: 'David Libre', serif;
	background-color: #273B47;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-container
{
	display: flex;
	flex: 1;
	position: relative;
}

.datos-container
{
	width: 35%;
	background-color: #BCBCBC;
	margin: 2% 32%;
	border-radius: 10px;
}
	.datos-container h3
	{
		font-size: 5vh;
		text-align: center;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.form-container
	{
		display: flex;
		width: 85%;
		/*background-color: red;*/
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}
	.form-container label
	{
		font-size: 3vh;
	}
	.form-container input
	{
		margin-bottom: 1.5%;
	}
	.form-container input[id="pass2"]
	{
		margin-bottom: 0;
	}
	.form-container span[class="coinciden"]
	{
		margin-top: 0;
		margin-bottom: 3%;
	}
	.aux
	{
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.auxbtn
	{
		width: 50%;
		margin: 0 auto;
	}
	.form-container a
	{
		margin: 5% 30%;
	}

.inp
{
	font-size: 2.5vh;
}


.actualizacion-container
{
	display: none;
	width: 40%;
	margin: 0 auto;
	background: #BCBCBC;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 30%;
}
.mensaje-container
{
	padding: 2%;
}



/*estilos de la info*/
.coinciden
{
	margin-bottom: 5%;
	color: green;
	opacity: 0;
}
.pswd_info
{
	display: none;
	position: absolute;
	top: 35%;
	right: 2%;
	width: 25%;
	background-color: lightblue;
	border-radius: 10px;
	padding: 2% 2%;
}
.invalid
{
	color: red;
}
.valid
{
	color: green;
}
.apro
{
	opacity: 0;
}


.eliminar
{
	position: absolute;
	background: red;
	bottom: 5%;
	left: 5%;
}

.footer
{
	color: white;
	padding: .5% 0;
	font-family: 'EB Garamond', serif;
	background-color: #273B47;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	.footer span
	{
		font-family: 'Rochester', cursive;
	}





/*<form action="foo.php" method="post">
	<label for="resp1">
    	<input type="radio" id="resp1" name="r1" value="respuesta1" />Ricardo
	</label>
	<label for="resp2">
    	<input type="radio" id="resp2" name="r1" value="respuesta2" />Moreno
	</label>
    <input type="submit" name="submit" value="Submit me!" />*/





/*font-family: 'Oxygen', sans-serif; */
	 /*font-family: 'Cabin', sans-serif; */
	/* font-family: 'Crimson Text', serif; */
	/* font-family: 'Quicksand', sans-serif; */
	/* font-family: 'Shadows Into Light', cursive; */
	/* font-family: 'Vollkorn', serif; */