/* DAVID LIBRE PARA TITULOS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	vertical-align: baseline;
}
body
{
	font-family: 'Old Standard TT', serif;
	background-color: #F1F4F5; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
}
hr
{
	border-style: solid;
	border-width: 1px;
	border-color: #359FD1;
}
.button
{
	background: #7dcd40;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2);
    font-size: 18px;
	padding: 10px 15px 15px;
    border-radius: 6px;
	text-decoration: none;
    color: white;
    transition: .1s;
}
	.button:active 
	{
  		transform: scale(.9);
	}
.header
{
	width: 100%;
	color: white;
	text-align: center;
	font-family: 'David Libre', serif;
	background-color: #273B47;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header a
{
	margin-right: 7%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-container
{
	display: flex;
	flex: 1;
	position: relative;
	/*justify-content: center;
	align-items: center;*/
}
.form-container
{
	width: 100%;
	display: flex;
}
.registro
{
	width: 30%;
	margin-top: 2%;
	margin-left: 35%;
	margin-bottom: 2%;
	background: #BCBCBC;
	padding: 1% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}
	.registro label
	{
		font-size: 20px;
	}
	.registro input
	{
		margin-bottom: 5%;
	}
	.registro input[class="inp"]
	{
		width: 90%;
		font-size: 18px;
	}
	.registro input[class="inp coinc"]
	{
		width: 90%;
		font-size: 18px;
		margin-bottom: 0;
	}
	.registro h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.coinciden
	{
		margin-bottom: 5%;
		color: green;
		opacity: 0;
	}
.pswd_info
{
	display: none;
	position: absolute;
	top: 35%;
	right: 2%;
	background-color: lightblue;
	width: 25%;
	border-radius: 10px;
	padding: 2% 2%;
}
.invalid
{
	color: red;
}
.valid
{
	color: green;
}
.apro
{
	opacity: 0;
}

/*parte del mensaje de confirmacion*/
.mensaje-container
{
	display: none;
}
.registro-bien
{
	width: 30%;
	height: 40%;
	margin-top: 10%;
	margin-left: 35%;
	background: #BCBCBC;
	padding: 2% 3%;
	border-radius: 10px;
}
	.registro-bien span
	{
		font-size: 25px;
		margin-bottom: 30px;
	}
.registro-elementos
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
	.registro-elementos span
	{
	}

.footer
{
	color: white;
	padding: .5% 0;
	font-family: 'EB Garamond', serif;
	background-color: #273B47;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	.footer span
	{
		font-family: 'Rochester', cursive;
	}





/*font-family: 'Oxygen', sans-serif; */
	 /*font-family: 'Cabin', sans-serif; */
	/* font-family: 'Crimson Text', serif; */
	/* font-family: 'Quicksand', sans-serif; */
	/* font-family: 'Shadows Into Light', cursive; */
	/* font-family: 'Vollkorn', serif; */